{
    "openapi": "3.1.0",
    "info": {
        "title": "Equipment Systems",
        "description": "Equipment types, installed equipment, installed equipment systems",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.servicetitan.io/equipmentsystems/v2",
            "description": "Production"
        },
        {
            "url": "https://api-integration.servicetitan.io/equipmentsystems/v2",
            "description": "Integration"
        }
    ],
    "paths": {
        "/tenant/{tenant}/equipment-systems": {
            "get": {
                "tags": [
                    "EquipmentSystems"
                ],
                "summary": "Gets a list of equipment systems",
                "operationId": "EquipmentSystems_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "locationIds",
                        "in": "query",
                        "description": "Filter by location IDs.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: ID, CreatedOn, ModifiedOn",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_EquipmentSystems.V2.EquipmentSystemResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "name": "string",
                                            "locationId": 0,
                                            "memo": "string",
                                            "tags": [
                                                {
                                                    "id": 0,
                                                    "ownerId": 0,
                                                    "typeId": 0,
                                                    "typeName": "string",
                                                    "memo": "string",
                                                    "color": "string",
                                                    "textColor": "string",
                                                    "code": "string"
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "id": 0,
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "createdOn": "string",
                                            "createdBy": 0,
                                            "modifiedOn": "string",
                                            "modifiedBy": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmentsystems:r"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "EquipmentSystems"
                ],
                "summary": "Creates a new equipment system",
                "operationId": "EquipmentSystems_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentSystemCreateRequest"
                            },
                            "example": {
                                "locationId": 0,
                                "name": "string",
                                "memo": "string",
                                "tagTypeIds": [
                                    0
                                ],
                                "customFields": [
                                    {
                                        "id": 0,
                                        "typeId": 0,
                                        "value": "string"
                                    }
                                ],
                                "equipmentIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentSystemDetailedResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "active": true,
                                    "name": "string",
                                    "locationId": 0,
                                    "memo": "string",
                                    "tags": [
                                        {
                                            "id": 0,
                                            "ownerId": 0,
                                            "typeId": 0,
                                            "typeName": "string",
                                            "memo": "string",
                                            "color": "string",
                                            "textColor": "string",
                                            "code": "string"
                                        }
                                    ],
                                    "customFields": [
                                        {
                                            "id": 0,
                                            "typeId": 0,
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "createdOn": "string",
                                    "createdBy": 0,
                                    "modifiedOn": "string",
                                    "modifiedBy": 0,
                                    "equipmentIds": [
                                        0
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmentsystems:w"
                        ]
                    }
                ]
            }
        },
        "/tenant/{tenant}/equipment-systems/{id}": {
            "get": {
                "tags": [
                    "EquipmentSystems"
                ],
                "summary": "Gets an equipment system specified by ID",
                "operationId": "EquipmentSystems_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentSystemDetailedResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "active": true,
                                    "name": "string",
                                    "locationId": 0,
                                    "memo": "string",
                                    "tags": [
                                        {
                                            "id": 0,
                                            "ownerId": 0,
                                            "typeId": 0,
                                            "typeName": "string",
                                            "memo": "string",
                                            "color": "string",
                                            "textColor": "string",
                                            "code": "string"
                                        }
                                    ],
                                    "customFields": [
                                        {
                                            "id": 0,
                                            "typeId": 0,
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "createdOn": "string",
                                    "createdBy": 0,
                                    "modifiedOn": "string",
                                    "modifiedBy": 0,
                                    "equipmentIds": [
                                        0
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmentsystems:r"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "EquipmentSystems"
                ],
                "summary": "Partially updates an equipment system specified by ID",
                "operationId": "EquipmentSystems_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentSystemUpdateRequest"
                            },
                            "example": {
                                "name": "string",
                                "memo": "string",
                                "tagTypeIds": [
                                    0
                                ],
                                "customFields": [
                                    {
                                        "id": 0,
                                        "typeId": 0,
                                        "value": "string"
                                    }
                                ],
                                "equipmentIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentSystemDetailedResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "active": true,
                                    "name": "string",
                                    "locationId": 0,
                                    "memo": "string",
                                    "tags": [
                                        {
                                            "id": 0,
                                            "ownerId": 0,
                                            "typeId": 0,
                                            "typeName": "string",
                                            "memo": "string",
                                            "color": "string",
                                            "textColor": "string",
                                            "code": "string"
                                        }
                                    ],
                                    "customFields": [
                                        {
                                            "id": 0,
                                            "typeId": 0,
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "createdOn": "string",
                                    "createdBy": 0,
                                    "modifiedOn": "string",
                                    "modifiedBy": 0,
                                    "equipmentIds": [
                                        0
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmentsystems:w"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "EquipmentSystems"
                ],
                "summary": "Deletes an equipment system specified by ID",
                "operationId": "EquipmentSystems_Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The request has succeeded, no content to return"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmentsystems:w"
                        ]
                    }
                ]
            }
        },
        "/tenant/{tenant}/equipment-systems/{id}/equipment": {
            "post": {
                "tags": [
                    "EquipmentSystems"
                ],
                "summary": "Adds equipment to an existing equipment system",
                "operationId": "EquipmentSystems_AddEquipment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentSystemAddEquipmentRequest"
                            },
                            "example": {
                                "equipmentIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentSystemDetailedResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "active": true,
                                    "name": "string",
                                    "locationId": 0,
                                    "memo": "string",
                                    "tags": [
                                        {
                                            "id": 0,
                                            "ownerId": 0,
                                            "typeId": 0,
                                            "typeName": "string",
                                            "memo": "string",
                                            "color": "string",
                                            "textColor": "string",
                                            "code": "string"
                                        }
                                    ],
                                    "customFields": [
                                        {
                                            "id": 0,
                                            "typeId": 0,
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "createdOn": "string",
                                    "createdBy": 0,
                                    "modifiedOn": "string",
                                    "modifiedBy": 0,
                                    "equipmentIds": [
                                        0
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmentsystems:w"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "EquipmentSystems"
                ],
                "summary": "Removes equipment from an existing equipment system",
                "operationId": "EquipmentSystems_RemoveEquipment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentSystemRemoveEquipmentRequest"
                            },
                            "example": {
                                "equipmentIds": [
                                    0
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentSystemDetailedResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "active": true,
                                    "name": "string",
                                    "locationId": 0,
                                    "memo": "string",
                                    "tags": [
                                        {
                                            "id": 0,
                                            "ownerId": 0,
                                            "typeId": 0,
                                            "typeName": "string",
                                            "memo": "string",
                                            "color": "string",
                                            "textColor": "string",
                                            "code": "string"
                                        }
                                    ],
                                    "customFields": [
                                        {
                                            "id": 0,
                                            "typeId": 0,
                                            "name": "string",
                                            "value": "string"
                                        }
                                    ],
                                    "createdOn": "string",
                                    "createdBy": 0,
                                    "modifiedOn": "string",
                                    "modifiedBy": 0,
                                    "equipmentIds": [
                                        0
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmentsystems:w"
                        ]
                    }
                ]
            }
        },
        "/tenant/{tenant}/equipment-types": {
            "get": {
                "tags": [
                    "EquipmentTypes"
                ],
                "summary": "Gets a list of equipment types",
                "operationId": "EquipmentTypes_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Filters records by name (case-insensitive \"contains\" operation)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: ID, Name, CreatedOn, ModifiedOn",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_EquipmentSystems.V2.EquipmentTypeResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "name": "string",
                                            "active": true,
                                            "createdOn": "string",
                                            "modifiedOn": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmenttypes:r"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "EquipmentTypes"
                ],
                "summary": "Creates a new equipment type",
                "operationId": "EquipmentTypes_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentTypeCreateRequest"
                            },
                            "example": {
                                "name": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentTypeResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "name": "string",
                                    "active": true,
                                    "createdOn": "string",
                                    "modifiedOn": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmenttypes:w"
                        ]
                    }
                ]
            }
        },
        "/tenant/{tenant}/equipment-types/{id}": {
            "get": {
                "tags": [
                    "EquipmentTypes"
                ],
                "summary": "Gets equipment type specified by ID",
                "operationId": "EquipmentTypes_Get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentTypeResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "name": "string",
                                    "active": true,
                                    "createdOn": "string",
                                    "modifiedOn": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmenttypes:r"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "EquipmentTypes"
                ],
                "summary": "Updates an existing equipment type",
                "operationId": "EquipmentTypes_Update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentTypeUpdateRequest"
                            },
                            "example": {
                                "name": "string",
                                "active": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.EquipmentTypeResponse"
                                },
                                "example": {
                                    "id": 0,
                                    "name": "string",
                                    "active": true,
                                    "createdOn": "string",
                                    "modifiedOn": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmenttypes:w"
                        ]
                    }
                ]
            }
        },
        "/tenant/{tenant}/export/installed-equipment": {
            "get": {
                "tags": [
                    "Export"
                ],
                "operationId": "Export_ExportInstalledEquipment",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.InstalledEquipmentListExportResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "equipmentId": 0,
                                            "locationId": 0,
                                            "customerId": 0,
                                            "parent": {
                                                "id": 0,
                                                "type": {}
                                            },
                                            "systemId": 0,
                                            "invoiceItemId": 0,
                                            "name": "string",
                                            "type": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "installedOn": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "serialNumber": "string",
                                            "barcodeId": "string",
                                            "memo": "string",
                                            "manufacturer": "string",
                                            "model": "string",
                                            "cost": 0,
                                            "status": "Installed",
                                            "manufacturerWarrantyStart": "string",
                                            "manufacturerWarrantyEnd": "string",
                                            "serviceProviderWarrantyStart": "string",
                                            "serviceProviderWarrantyEnd": "string",
                                            "tags": [
                                                {
                                                    "id": 0,
                                                    "ownerId": 0,
                                                    "typeId": 0,
                                                    "typeName": "string",
                                                    "memo": "string",
                                                    "color": "string",
                                                    "textColor": "string",
                                                    "code": "string"
                                                }
                                            ],
                                            "actualReplacementDate": "string",
                                            "manufacturedOn": "string",
                                            "predictedReplacementMonths": 0,
                                            "predictedReplacementDate": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.installedequipment:r"
                        ]
                    }
                ]
            }
        },
        "/tenant/{tenant}/export/equipment-systems": {
            "get": {
                "tags": [
                    "Export"
                ],
                "operationId": "Export_ExportEquipmentSystems",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Continuation token received from previous export request in \"continueFrom\" field.\nWhen not specified, the export process starts from the beginning.\\\nUse custom date strings, e.g. \"2020-01-01\" to start the export process from the certain point in time.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeRecentChanges",
                        "in": "query",
                        "description": "Use \"true\" to start receiving the most recent changes quicker.\nNote this may cause the same results appearing multiple times on consecutive requests.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.InstalledSystemListExportResponse"
                                },
                                "example": {
                                    "hasMore": true,
                                    "continueFrom": "string",
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "name": "string",
                                            "locationId": 0,
                                            "memo": "string",
                                            "tags": [
                                                {
                                                    "id": 0,
                                                    "ownerId": 0,
                                                    "typeId": 0,
                                                    "typeName": "string",
                                                    "memo": "string",
                                                    "color": "string",
                                                    "textColor": "string",
                                                    "code": "string"
                                                }
                                            ],
                                            "customFields": [
                                                {
                                                    "id": 0,
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "createdOn": "string",
                                            "createdBy": 0,
                                            "modifiedOn": "string",
                                            "modifiedBy": 0
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.equipmentsystems:r"
                        ]
                    }
                ]
            }
        },
        "/tenant/{tenant}/installed-equipment/bulk": {
            "post": {
                "tags": [
                    "InstalledEquipmentBulk"
                ],
                "summary": "Creates up to 1000 installed equipment records in a single atomic batch.\nThe entire batch is rolled back if any item is invalid.",
                "operationId": "InstalledEquipmentBulk_Create",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EquipmentSystems.V2.InstalledEquipmentBulkCreateRequest"
                            },
                            "example": {
                                "installedEquipment": [
                                    {
                                        "locationId": 0,
                                        "name": "string",
                                        "equipmentTypeId": 0,
                                        "status": {},
                                        "installedOn": "string",
                                        "actualReplacementDate": "string",
                                        "manufacturedOn": "string",
                                        "serialNumber": "string",
                                        "barcodeId": "string",
                                        "memo": "string",
                                        "manufacturer": "string",
                                        "model": "string",
                                        "cost": 0,
                                        "manufacturerWarrantyStart": "string",
                                        "manufacturerWarrantyEnd": "string",
                                        "serviceProviderWarrantyStart": "string",
                                        "serviceProviderWarrantyEnd": "string",
                                        "customFields": [
                                            {
                                                "id": 0,
                                                "typeId": 0,
                                                "value": "string"
                                            }
                                        ],
                                        "attachments": [
                                            {
                                                "alias": "string",
                                                "fileName": "string",
                                                "type": {},
                                                "url": "string"
                                            }
                                        ],
                                        "tagTypeIds": [
                                            0
                                        ],
                                        "parent": {
                                            "id": 0,
                                            "type": {}
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The entity has been created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EquipmentSystems.V2.InstalledEquipmentBulkCreateResponse"
                                },
                                "example": {
                                    "installedEquipment": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "equipmentId": 0,
                                            "locationId": 0,
                                            "customerId": 0,
                                            "parent": {
                                                "id": 0,
                                                "type": {}
                                            },
                                            "systemId": 0,
                                            "invoiceItemId": 0,
                                            "name": "string",
                                            "type": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "installedOn": "string",
                                            "createdOn": "string",
                                            "modifiedOn": "string",
                                            "serialNumber": "string",
                                            "barcodeId": "string",
                                            "memo": "string",
                                            "manufacturer": "string",
                                            "model": "string",
                                            "cost": 0,
                                            "status": "Installed",
                                            "manufacturerWarrantyStart": "string",
                                            "manufacturerWarrantyEnd": "string",
                                            "serviceProviderWarrantyStart": "string",
                                            "serviceProviderWarrantyEnd": "string",
                                            "tags": [
                                                {
                                                    "id": 0,
                                                    "ownerId": 0,
                                                    "typeId": 0,
                                                    "typeName": "string",
                                                    "memo": "string",
                                                    "color": "string",
                                                    "textColor": "string",
                                                    "code": "string"
                                                }
                                            ],
                                            "actualReplacementDate": "string",
                                            "manufacturedOn": "string",
                                            "predictedReplacementMonths": 0,
                                            "predictedReplacementDate": "string",
                                            "customFields": [
                                                {
                                                    "id": 0,
                                                    "typeId": 0,
                                                    "name": "string",
                                                    "value": "string"
                                                }
                                            ],
                                            "attachments": [
                                                {
                                                    "alias": "string",
                                                    "fileName": "string",
                                                    "type": {},
                                                    "url": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiErrorResponse"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "traceId": "string",
                                    "errors": {},
                                    "data": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiKeyHeader": [],
                        "oauth": [
                            "tn.eqs.installedequipment:w"
                        ]
                    }
                ]
            }
        },
        "/tenant/{tenant}/installed-equipment": {
            "get": {
                "tags": [
                    "InstalledEquipment"
                ],
                "operationId": "InstalledEquipment_GetList",
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Tenant ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "locationIds",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Return items created before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Return items created on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Return items modified before certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Return items modified on or after certain date/time (in UTC)",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The logical number of page to return, starting from 1",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "How many records to return (50 by default)",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, CreatedOn, ModifiedOn.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "What kind of items should be returned (only active items will be returned by default)\\\nValues: [True, Any, False]",
                        "schema": {
                            "type": "string",
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ActiveRequestArg"
                                }
                            ]
                        }
                    },
                    {
                        "name": "parents",
                        "in": "query",
                        "description": "Matches equipment whose direct parent is any of the supplied entries. Each entry requires both\nid and type (Equipment or System); mixed types in one query are supported, e.g.\nparents[0].id=42&parents[0].type=System&parents[1].id=99&parents[1].type=Equipment.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/EquipmentSystems.V2.ParentRequestModel"
                            }
                        }
                    },
                    {
                        "name": "hasParent",
                        "in": "query",
                        "description": "true = has any parent; false = top-level (no parent).",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "systemIds",
                        "in": "query",
                        "description": "Comma-separated system IDs. Filters by the resolved system, returning equipment at any level\nattached to the system.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hasSystem",
                        "in": "query",
                        "description": "true = belongs to any system; false = unassigned.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaginatedResponse_Of_EquipmentSystems.V2.InstalledEquipmentResponse"
                                },
                                "example": {
                                    "page": 0,
                                    "pageSize": 0,
                                    "hasMore": true,
                                    "totalCount": 0,
                                    "data": [
                                        {
                                            "id": 0,
                                            "active": true,
                                            "equipmentId": 0,
                                            "locationId": 0,
                                            "customerId": 0,
                                            "parent": {
                                                "id": 0,
                                                "type": {}
                                            },
                                            "systemId": 0,
                                            "invoiceItemId": 0,
                                            "name": "string",
                                            "type": {
                                                "id": 0,
                                                "name": "string"
                                            },
                                            "installedOn": "string",
                                            "createdOn": "string",
[...]
